In [17]:
# import dependencies
import pandas as pd
from sqlalchemy import create_engine
import psycopg2

In [34]:
# import csv file into pandas
# upload to database order (foreign key references require tables be uploaded in ths order): 
# 1: admin_projects
# 2: issues_issue_types
# 3: issues_issue_subtypes
# 4: issues_issues
# note: will be named indicating order

file1 = "data/csv/admin_projects.csv"
file2 = "data/csv/issues_issue_types.csv"
file3 = "data/csv/issues_issue_subtypes.csv"
file4 = "data/csv/issues_issues.csv"

csv_data1 = pd.read_csv(file1)
csv_data2 = pd.read_csv(file2)
csv_data3 = pd.read_csv(file3)
csv_data4 = pd.read_csv(file4)

admin_projects_df_1 = pd.DataFrame(csv_data1)
issues_issue_types_df_2 = pd.DataFrame(csv_data2)
issues_issue_subtypes_df_3 = pd.DataFrame(csv_data3)
issues_issues_df_4 = pd.DataFrame(csv_data4)


#confirm databases are loaded
admin_projects_df_1.head(5)
#issues_issue_types_df_2.head(5)
#issues_issue_subtypes_df_3.head(5)
#issues_issues_df_4.head(5)

,id,bim360_account_id,name,start_date,end_date,type,value,currency,status,job_number,...,city,state_or_province,postal_code,country,timezone,construction_type,contract_type,business_unit_id,last_sign_in,created_at
0,4fb9e8e5-f9a7-4a04-b33c-38f2227bf75d,49df69ab-c266-4d49-951c-031b16f7a31f,Amanda,Tue May 01 2012 00:00:00 GMT+0000 (Coordinated...,Tue Jan 01 2115 00:00:00 GMT+0000 (Coordinated...,Hospitals & Health Treatment Buildings,750000.0,USD,archived,NaN,...,St Louis,MO,63131,US,America/Chicago,NaN,NaN,NaN,NaN,Thu Aug 27 2015 03:02:51 GMT+0000 (Coordinated...
1,e5ed857f-23f1-4a8c-a808-9cbfa0fe0648,49df69ab-c266-4d49-951c-031b16f7a31f,10100726-UCMC-GARAGE,Tue Aug 23 2016 00:00:00 GMT+0000 (Coordinated...,Tue Aug 24 2021 00:00:00 GMT+0000 (Coordinated...,Office,0.0,USD,archived,NaN,...,NaN,NaN,NaN,US,NaN,NaN,NaN,NaN,NaN,Wed Aug 24 2016 01:51:54 GMT+0000 (Coordinated...
2,9d602269-4385-4d46-9d87-ee1374608e23,49df69ab-c266-4d49-951c-031b16f7a31f,10100726-UCMC,Tue Aug 23 2016 00:00:00 GMT+0000 (Coordinated...,Tue Aug 24 2021 00:00:00 GMT+0000 (Coordinated...,Office,0.0,USD,archived,NaN,...,NaN,NaN,NaN,US,NaN,NaN,NaN,NaN,NaN,Wed Aug 24 2016 01:51:52 GMT+0000 (Coordinated...
3,003d373a-2b90-45f8-8a0e-862868dfdc0b,49df69ab-c266-4d49-951c-031b16f7a31f,BIM Test Ground,Fri Jan 01 1915 00:00:00 GMT+0000 (Coordinated...,Tue Jan 01 2115 00:00:00 GMT+0000 (Coordinated...,default,0.0,USD,archived,NaN,...,NaN,NaN,63114,US,America/Chicago,NaN,NaN,NaN,NaN,Thu Aug 27 2015 03:03:02 GMT+0000 (Coordinated...
4,9fcfaa9b-b11e-47d9-acbb-a8a8ddf1f7ac,49df69ab-c266-4d49-951c-031b16f7a31f,"Thompson Coburn (ORD), Phase 3",Sun Aug 28 2011 00:00:00 GMT+0000 (Coordinated...,Tue Jan 01 2115 00:00:00 GMT+0000 (Coordinated...,Office & Bank Buildings,0.0,USD,archived,NaN,...,Chicago,IL,60603,US,America/Chicago,NaN,NaN,NaN,NaN,Thu Aug 27 2015 03:03:27 GMT+0000 (Coordinated...

In [ ]:
# Add Data Munging here

In [41]:
clean_df_1 = admin_projects_df_1[admin_projects_df_1["postal_code"].notna()]
clean_df_1 = clean_df_1[clean_df_1["value"] > 5000000]
clean_df_1 = clean_df_1[clean_df_1["status"] == "active"]
clean_df_1.shape

(80, 22)

In [42]:
rds_connection_string = "@localhost:5432/project2"

# Important: add password here
password = ""

engine = create_engine(f'postgresql+psycopg2://postgres:{password}{rds_connection_string}')

In [43]:
#confirm database connection and that the tables are present (if not, run schema sql file in database first)
engine.table_names()

['admin_projects',
 'issues_issues',
 'issues_issue_types',
 'issues_issue_subtypes']

In [44]:
#upload data in order specified in beginning


#important note: i removed the foreign key constraints for the time being from the schema for the tables when i
#                ran it in postgres (still in schema file though - at the bottom). Had some issues with FOREIGN
#                KEY CONSTRAINT violations when loading data... missing keys in some tables. so it may be best
#                to run schema without the constraints.


clean_df_1.to_sql(name='admin_projects', con=engine, if_exists='append', index=False)

issues_issue_types_df_2.to_sql(name='issues_issue_types', con=engine, if_exists='append', index=False)

issues_issue_subtypes_df_3.to_sql(name='issues_issue_subtypes', con=engine, if_exists='append', index=False)

issues_issues_df_4.to_sql(name='issues_issues', con=engine, if_exists='append', index=False)

In [45]:
#confirm data is loaded

pd.read_sql_query('select * from admin_projects', con=engine).head()

,id,bim360_account_id,name,start_date,end_date,type,value,currency,status,job_number,...,city,state_or_province,postal_code,country,timezone,construction_type,contract_type,business_unit_id,last_sign_in,created_at
0,e5c196de-27ac-43f1-ad9a-e7267316ed9f,49df69ab-c266-4d49-951c-031b16f7a31f,Memorial Stadium,Mon Jan 01 2018 00:00:00 GMT+0000 (Coordinated...,Sun Dec 01 2019 00:00:00 GMT+0000 (Coordinated...,Stadium/Arena,78000000,USD,active,10102939,...,Champaign,IL,61820,US,America/Chicago,New Construction,Design-Bid-Build,1f3be48b-1eef-11e3-89a6-02cc3afa57bd,None,Thu Aug 03 2017 16:33:54 GMT+0000 (Coordinated...
1,ecee877d-e66c-411c-88ef-3b4f0afbfd1f,49df69ab-c266-4d49-951c-031b16f7a31f,10104945 - Brandon Road Relocation,Sat Feb 01 2020 00:00:00 GMT+0000 (Coordinated...,Thu Oct 15 2020 00:00:00 GMT+0000 (Coordinated...,Streets / Roads / Highways,9000000,USD,active,10104945,...,Joliet,IL,60421,US,America/Chicago,New Construction,Design-Bid,869871b3-ac33-4a98-ab47-0ede0ba28d1c,None,Mon Feb 03 2020 13:35:47 GMT+0000 (Coordinated...
2,800194cf-13d3-47df-9ad1-fe5d2a64d6ca,49df69ab-c266-4d49-951c-031b16f7a31f,10103177 - Rockwool Ran5,Mon Sep 03 2018 00:00:00 GMT+0000 (Coordinated...,Fri Apr 10 2020 00:00:00 GMT+0000 (Coordinated...,Manufacturing / Factory,53362230,USD,active,10103177,...,Shenandoah Junction,WV,25442,US,America/New_York,New Construction,Design-Bid,869871b3-ac33-4a98-ab47-0ede0ba28d1c,Mon Feb 10 2020 16:09:36 GMT+0000 (Coordinated...,Tue Jul 31 2018 17:58:10 GMT+0000 (Coordinated...
3,3431b76d-ba63-4c83-8c99-4c88d0ef98a8,49df69ab-c266-4d49-951c-031b16f7a31f,10104980 - Bridgeport Amazon TI,Mon Jan 27 2020 00:00:00 GMT+0000 (Coordinated...,Sat Aug 01 2020 00:00:00 GMT+0000 (Coordinated...,Warehouse (non-manufacturing),58000000,USD,active,10104980,...,Newnan,GA,30263,US,America/New_York,New Construction,Design-Bid,869871b3-ac33-4a98-ab47-0ede0ba28d1c,Fri Feb 07 2020 21:28:24 GMT+0000 (Coordinated...,Mon Feb 03 2020 13:52:57 GMT+0000 (Coordinated...
4,e1b87d21-aef7-4fad-a518-491a4f681463,49df69ab-c266-4d49-951c-031b16f7a31f,00-03925.258-000_SP_Sproul_Hall,Wed May 01 2019 00:00:00 GMT+0000 (Coordinated...,Tue Jun 30 2020 00:00:00 GMT+0000 (Coordinated...,Dormitory,55000000,USD,active,10103710.258,...,University Park,PA,16802,US,America/New_York,Renovation,Design-Bid,35932d9f-1eee-11e3-89a6-02cc3afa57bd,None,Wed Feb 13 2019 13:39:23 GMT+0000 (Coordinated...

In [33]:
clean_df_1.shape

(197, 22)